<!DOCTYPE html>
    <link rel="stylesheet" href="/css/productView.css">
    <head>
    </head>
    <body>
        <h1>You have accepted this donation. Make sure to show appreciation to your donor!</h1>
        <div id="contactInformation">
        <h3>Instructions:</h3>
        <p>Use the contact information given above to get in touch with your donor! We suggest one of two options:</p>
        <p> 1) Pay your donor to ship the freebie to you</p>
        <p> 2) Organize a SAFE way for you to pick up the freebie in person</p>
        <p></p>
        <p>Once you receive your product, YOU MUST confirm that you have received it by going to your profile -> accepted freebies. If you do not confirm reception, you may be REPORTED by your donor and have your account BANNED.</p>
        <p>Go to your profile to send the first message to your donor!</p>
        <script src="/js/donationAccepted.js"></script>
    </body>
</html>