<!DOCTYPE html>
    <header>
        <title>Sign up</title>
    </header>
    <body>
        <div id="content">
            <a href="/login/google">Sign in with Google</a> <br> <br>

            <form id="signUpForm">
                <input id="email" name="email" placeholder="Enter your email address..." maxlength="100"> <br><br>
                <input id="password" name="password" placeholder="Enter your password..." maxlength="100"> <br><br>
                <input id="confirmPassword" placeholder="Enter your password again..." maxlength="100"> <br><br>
                <button type="submit">Continue</button>
            </form>

                <p id="message"></p>
            <a>Already have an account?</a> <a href="/login">Log in</a>
        </div>
        <script src="/js/signUp.js"></script>
    </body>
</html>